


<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">


        <app-personajes [data]="personajes"></app-personajes>

       
    </div>  
    <div class="col">
        <h3>Agregar</h3>
        <hr>
 
        <form (ngSubmit)="agregar()">

            <input placeholder="Nombre"                  
                [(ngModel)]="nuevo.nombre"       
                name="nombre"  
                type="text" />
            <input placeholder="Poder"  
               
                [(ngModel)]="nuevo.poder"       
                name="poder"  
                type="number" />

            <button type="submit">Agregar </button>
        </form>
        

    </div>
</div>